input#file {
  display: inline-block;
  width: 80px;
  padding: 50px 0 0 0;
  height: 10px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png') center center no-repeat #e4e4e4;
  border-radius: 5px;
  background-size: 60px 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.submit-button {
  margin-bottom: 5px;
}
.gen-color {
  color: #007aff;
}